{% extends "ICAPDropZoneBundle::layout.html.twig" %}
{% block dropzone_breadcrumb %}
    <li class="active">
        <i class=".glyphicon .glyphicon-file"></i>{{ dropZone.resourceNode.name }}
        <span class="divider">/</span>
    </li>
    <li class="active">Drop</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <header>
            <a href="{{ path('icap_dropzone_edit', {'resourceId': dropZone.id}) }}">Edit</a>
        </header>
        <h2>Drops</h2>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}