<div class="row">
    <div class="col-md-9">
        {% include 'ICAPDropZoneBundle:DropZone:simpleShowDocument.html.twig' %}
    </div>

    <div class="col-md-3">
        <a href="{{ path('icap_dropzone_delete_document', {'resourceId': dropZone.id, 'dropId': drop.id, 'documentId': document.id}) }}" class="btn btn-danger launch-modal">X</a>
    </div>
</div>
